@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilidades compartilhadas em todo o ecossistema */
@layer base {
  * {
    @apply border-border;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-premium {
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.5);
}
